html, body {
	margin: 0;
}

h1, h2, a {
	font-family: 'Oswald', sans-serif;
}

p {
	font-family: Helvetica, Arial, sans-serif; 
}

.container {
	width: 940px;
	margin: 0 auto;
}

.btn {
	background-color: #1c1c1c;
	color: #fff;
	font-size: 18px;
	padding: 8px 30px;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
}

/* Main */
.main {
	height: 600px;
	background: url("http://s3.amazonaws.com/codecademy-content/projects/move/bg.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
	text-align: center;
}

.main h1 {
	font-size: 200px;
	padding: 110px 0 0;
	margin: 0;
}

.main p {
	font-size: 18px;
}


/* Supporting */
.supporting {
	text-align: center;
	padding: 50px 0 80px;
}

.supporting .col {
	float: left;
	width: 30%;
	padding: 10px;
}

.supporting h1,
.supporting h2 {
	color: #ffa800;
	font-size: 40px;
	margin-bottom: 10px;
}

.clearfix {
	clear: both;
}

.supporting p {
	color: #efefef;
	margin-bottom: 20px;
	line-height: 20px;
}

.supporting .btn {
	background-color: #eee;
	color: #1c1c1c;
	font-size: 18px;
	padding: 8px 30px;
	text-decoration: none;
	display: inline-block;
}

/* Feature */
.feature {
	height: 600px;
}

.feature h1,
.feature h2 {
	color: #fff;
	font-size: 60px;
	margin: 0;
	padding:50px 0 0;
}

/* Footer */
.footer {
	height: 600px;
}

.footer h1,
.footer h2 {
	color: #fff;
	font-size: 40px;
	margin: 0 0 20px 0;
	padding:50px 0 0;
}

.footer p {
	color: #fff;
	margin: 0 0 20px 0;
	font-size: 18px;
}